ul.redes{
    list-style: none;
    padding: 0;
}

ul.redes li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-linkedin-square:hover{
    color:#0072b1 ;
}

.fa-github-square:hover{
    color: black;
}

.fa-youtube-play:hover{
    color: red;
}

.fa-instagram:hover{
    color:#C13584; 
}

.bg-amarelo{
    background-color: #f1c40f;

}

.bg-amar{
    background-color: #ceccc5;
}