<footer class="page-footer font-small bg-amarelo pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Nossas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="redes">
                    <li>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-github-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-amar text-center py-3">
        <span class="text-light"> @ 2022 Copyright: </span>
        <a class="text-white" href="https://github.com/sabinonatalia" target="_blank">Natália Sabino</a>
    </div>
</footer>