body{
    background-color: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.btn-amar{
    background-color: #f1c40f;
    border-radius: 3em;
} 

.btn-amar:hover{
    color: white;
}

h2{
    color: #f1c40f;
    font-family: 'Anton', sans-serif;
    font-size: 34pt;
}