<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.discordapp.net/attachments/814843784529313795/935899457042673684/bannercarroseul.png"
                class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
</div>



<!-- <h2 class="text-center mt-5">O banco de talentos focado em diversidade para área de tecnologia</h2> -->

<div class="p-5 mb-4 bg-light rounded-3" style=" background-color: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Banco de talentos</h1>
        <p class="col-md-8 fs-4">O Easy Job Diversitech é o seu banco de talentos focado em tecnologia, especialmente
            para você que faz parte de um grupo de diversidade**.
            <br> Sempre que alguém vier procurar o diversitech, suas informações serão passsadas
            para essas pessoas e isso aumentará sua chance de entrada no mercado tech.
        </p>
        <button class="btn btn-amar btn-lg" type="button" routerLink="/login">Cadastre-se</button>
    </div>
</div>
<br><br>

<div class="container">
    <h2 class="mb-5  text-center text-bold">PRINCIPAIS <br> ÁREAS</h2>
    <div class="row mb-5 d-flex justify-content-center">
        <div class="col mb-2">
            <div class="card">
                <img src="https://media.discordapp.net/attachments/814843784529313795/935925180629389362/1.png?width=564&height=473"
                    class="card-img-top img-fluid" alt="imagem de produtores locais">
                <div class="card-body">
                    <h5 class="card-title">BACKEND</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://media.discordapp.net/attachments/814843784529313795/935925179941552258/2.png?width=564&height=473"
                    class="card-img-top img-fluid" alt="imagem livre de agrotóxicos">
                <div class="card-body">
                    <h5 class="card-title">FRONTEND</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://media.discordapp.net/attachments/814843784529313795/935925180197388288/3.png?width=564&height=473"
                    class="card-img-top img-fluid" alt="imagem produzidos com carinho">
                <div class="card-body">
                    <h5 class="card-title">UX DESIGN </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://media.discordapp.net/attachments/814843784529313795/935925180394524682/4.png?width=564&height=473"
                    class="card-img-top img-fluid" alt="Imagem de fortalecer a região">
                <div class="card-body">
                    <h5 class="card-title">DADOS</h5>
                </div>
            </div>
        </div>
    </div>
</div>